@model OpportunitiesAdminPage

@{
    ViewData["Title"] = "Firsat Sil";
}
@await Html.PartialAsync("_HeaderPartial", new HeaderModel
{
    Text = "Firsat Sil",
    ArrowLink = "/AdminPanel/Index",
})


<form method="post" action="/AdminPanel/RemoveOpportunity">
    <div class="flex flex-col items-center gap-3 px-2 py-1">
        <button type="submit" class="bg-appWarning text-white px-6 py-2 rounded-full font-bold mt-4">
            Seçili Firsatlari Sil
        </button>
        @if (TempData["Message"] != null)
        {
            <h1>@TempData["Message"]</h1>
        }
        <h1 class="text-xl">Mevcut Firsatlar</h1>
        @foreach (var item in Model.ExistingOpportunities)
        {
            <div
                class="flex items-center justify-between bg-appCartBg border  rounded-3xl w-full px-2 py-4 @(item.EndDate < DateTime.Now ? "border-appWarning" : "")">

                <div>
                    <h1>Baslik : <span class="font-semibold">@item.Title</span></h1>
                    <p>Olusturulma tarihi: <span class="font-semibold">@item.CreatedDate</span></p>
                    <p>Bitis tarihi: <span class="font-semibold">@item.EndDate</span></p>
                    <p>Oncelikli : <span class="font-semibold">@(item.IsPrimary ? "Evet" : "Hayir")</span></p>
                </div>
                <input class="h-6 w-6" type="checkbox" name="SelectedOpportunityIds" value="@item.OpportunityId">

            </div>
        }
    </div>
</form>
